$colors: (
        heading: hsl(240, 100%, 50%),
        border: hsl(302, 58%, 36%),
        input-bg:hsl(65, 100%, 85%),
        text: "#border"
);

$breakpoints: (
        'small': 24.15em,
        'medium': 43.75em,
        'large': 60.25em,
        'x-large':75em
);

$sizes: (
      border: 0.5em
);

$clipboard-icon-width:0.8em;
$two-sided-arrow-width:28.53px;