/*
*/

@font-face {
  src: url("public/assets/fonts/KappaVol2D-Black.woff") format("woff");
  font-family: "Kappa Vol2 D Black";
  font-display: swap;
}

@font-face {
  src: url("public/assets/fonts/KappaVol2D-Regular.woff") format("woff");
  font-family: "Kappa Vol2 D Regular";
  font-display: swap;
}
